body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.chip__container {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 12px 10px 12px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.chip--default {
  border: 2px solid #C6C6C6;
}

.chip input {
  display: none;
}

.chip__img {
  display: none;
}

.chip--select {
  border: 2px solid #1D56BC;
  background-color: #EFF5FF;
  color: #246BEB;

}

.chip--disabled {
  border: 2px solid #C6C6C6;
  background-color: #D8D8D8;
  color: #717171;
}